<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.app.customer.dao.CustomerDao">

<!--统计用户账号数量-->
    <select id="countCustomerAcct" parameterType="com.xzsd.app.customer.entity.Customer" resultType="int" >
        select count(user_acct)
        from t_sys_user
        where user_acct = #{customerAcct}
        and is_delete = 0
    </select>

<!--用户注册-->
    <insert id="saveCustomer" parameterType="com.xzsd.app.customer.entity.Customer" >
        insert into t_sys_user
        (user_code,
         user_acct,
         user_password,
         user_name,
         user_picture_url,
         sex,
         tel,
         mail,
         idcard,
         role,
         invite_code,
         is_delete,
         create_user,
         create_time,
         update_user,
         update_time,
         version
         )values
        (
         #{customerCode},
         #{customerAcct},
         #{customerPassword},
         #{customerName},
         #{userPictureUrl},
         #{sex},
         #{tel},
         #{mail},
         #{idcard},
         4,
         #{inviteCode},
         0,
         #{createUser},
         now(),
         #{createUser},
         now(),
         0
         )
    </insert>

<!-- 获取数据据库用户的密码-->
    <select id="sellectPassword" parameterType="com.xzsd.app.customer.entity.Customer" resultType="java.lang.String" >
        select user_password
        from t_sys_user
        where user_code = #{customerCode}
    </select>

<!--用户密码修改-->
    <update id="updateUserPassword" parameterType="com.xzsd.app.customer.entity.Customer" >
        update t_sys_user
        set user_password = #{customerPassword},
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where is_delete = 0
        and user_code = #{customerCode}
    </update>





</mapper>