<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.app.customer.order.dao.OrderDao">

<!--添加订单详情表-->
    <insert id="saveOrderDetail" parameterType="java.util.List">
        insert into t_sys_order_detail
        (order_detail_code,
         order_code,
         sell_price,
         good_code,
         total_number,
         is_delete,
         create_user,
         create_time,
         update_user,
         update_time,
         version)
         values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderDetailCode},
            #{item.orderCode},
            #{item.sellPrice},
            #{item.goodCode},
            #{item.totalNumber},
            0,
            #{item.createUser},
            now(),
            #{item.createUser},
            now(),
            0
            )
        </foreach>
    </insert>

<!--获取用户信息-->
    <select id="getUserInfo" parameterType="com.xzsd.app.customer.order.entity.Order" resultType="com.xzsd.app.customer.order.entity.Order" >
        select s.store_code storeCode,
               u.user_name buyerName,
               u.tel buyerTel
        from t_sys_store as s left join t_sys_user as u
            on s.invite_code = u.invite_code
            and u.role = 4
            and u.is_delete = 0
        where s.is_delete = 0
        and u.user_code = #{createUser}
    </select>

<!--销量加一-->
    <update id="addSellVolume" parameterType="com.xzsd.app.customer.order.entity.Order">
        update t_sys_goods
        set sell_volume = sell_volume + 1,
            update_user = #{createUser},
            update_time = now(),
            version = version + 1
        where good_code in
        <foreach collection="goodCodeList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_delete = 0
    </update>

<!--购物车商品删除-->
    <update id="deleteShopCart" parameterType="com.xzsd.app.customer.order.entity.Order">
        update t_sys_shop_cart
        set is_delete = 1,
            update_user = #{createUser},
            update_time = now(),
            version = version + 1
        where good_code in
        <foreach collection="goodCodeList" item="item" index="index" open="(" separator="," close=")" >
            #{item}
        </foreach>
        and sell_price in
        <foreach collection="sellPriceList" item="item" index="index" open="(" separator="," close=")" >
            #{item}
        </foreach>
        and is_delete = 0
    </update>

<!--添加订单表汇总-->
    <insert id="saveOrder" parameterType="com.xzsd.app.customer.order.entity.Order" >
    insert into  t_sys_order
        (order_code,
         order_state,
         store_code,
         buyer_tel,
         buyer_name,
         all_number,
         all_price,
         is_pay,
         pay_time,
         is_delete,
         create_user,
         create_time,
         update_user,
         update_time,
         version)
         values
        (
         #{orderCode},
         1,
         #{storeCode},
         #{buyerTel},
         #{buyerName},
         #{allNumber},
         #{allPrice},
         2,
         now(),
         0,
         #{createUser},
         now(),
         #{createUser},
         now(),
         0
        )
    </insert>

<!--订单状态修改-->
    <update id="stateOrder" parameterType="com.xzsd.app.customer.order.entity.Order" >
        update t_sys_order
        set order_state = #{orderState},
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where is_delete = 0
        and order_code = #{orderCode}
        and version = #{version}
    </update>

    <resultMap id="orderMap" type="com.xzsd.app.customer.order.entity.Order">
        <!--订单信息-->
        <id property="orderCode" column="order_code"/>
        <result property="orderState" column="order_state"/>
        <result property="version" column="version"/>
        <result property="allPrice" column="all_price"/>
        <result property="allNumber" column="all_number"/>
        <result property="createTime" column="create_time" />
        <result property="storeName" column="store_name"/>
        <result property="address" column="address" />
        <!--商品集合-->
        <collection property="goodList" ofType="com.xzsd.app.customer.order.entity.Order">
            <id property="goodCode" column="good_code"/>
            <result property="goodName" column="good_name"/>
            <result property="sellPrice" column="sell_price"/>
            <result property="goodIntroduce" column="good_introduce"/>
            <result property="totalNumber" column="total_number"/>
            <result property="pictureUrl" column="pictureUrl"/>
        </collection>
    </resultMap>

<!-- 订单详情查询-->
    <select id="selectOrder" resultMap="orderMap" >
        select s.store_name,
               concat(s.province_name, s.downtown_name, s.area_name, s.address) address,
               o.order_code,
               o.all_number,
               o.all_price,
               o.create_time,
               o.order_state,
               o.version,
               g.good_code,
               g.good_name,
               g.sell_price,
               g.good_introduce,
               d.total_number,
               g.pictureUrl
        from t_sys_order as o left join t_sys_store as s
            on o.store_code = s.store_code
            left join t_sys_order_detail as d
            on o.order_code = d.order_code
            left join t_sys_goods g
            on d.good_code = g.good_code
        where o.is_delete = 0
        and  o.order_code = #{orderCode}
    </select>

<!--订单列表查询-->
    <select id="listOrder" resultMap="orderMap">
        select o.order_code,
               o.all_number,
               o.all_price,
               o.order_state,
               g.good_code,
               g.good_name,
               g.sell_price,
               g.good_introduce,
               d.total_number,
               g.pictureUrl,
               o.version
        from t_sys_order as o left join t_sys_order_detail d
            on o.order_code = d.order_code
            left join t_sys_goods as g
            on d.good_code = g.good_code
        where o.is_delete = 0
        <if test="orderState != 0" >
            and o.order_state = #{orderState}
        </if>
    </select>

<!--查询订单评价商品信息列表接口-->
    <select id="listtAssess" parameterType="com.xzsd.app.customer.order.entity.Order" resultType="com.xzsd.app.customer.order.entity.Order" >
        select g.good_code goodCode,
               g.pictureUrl
        from t_sys_order as o left join t_sys_order_detail as d
            on o.order_code = d.order_code
            left join t_sys_goods as g
            on d.good_code = g.good_code
        where o.is_delete = 0
        and o.order_code = #{orderCode}
    </select>

</mapper>