<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.app.customer.goodType.dao.GoodTypeDao">

<!--商品分类级查询-->
    <select id="levelOneList" resultType="com.xzsd.app.customer.goodType.entity.GoodType">
        select type_code typeCode,
               type_name typeName
        from t_sys_good_type
        where is_delete = 0
        and parent_code = 0
        order by type_code
    </select>
    
    <resultMap id="levelTwoListMap" type="com.xzsd.app.customer.goodType.entity.GoodType">
    <!--二级分类集合-->
        <id property="typeCode" column="type_code" />
        <result property="typeName" column="type_name"/>
        <collection property="goodList" ofType="com.xzsd.app.customer.goodType.entity.GoodType">
        <!--商品集合-->
            <id property="goodCode" column="good_code" />
            <result property="goodName" column="good_name"/>
            <result property="sellPrice" column="sell_price"/>
            <result property="pictureUrl" column="pictureUrl"/>
        </collection>
    </resultMap>

<!--商品分类二级查询-->
    <select id="levelTwoList" resultMap="levelTwoListMap">
        select t.type_code,
               t.type_name,
               g.good_code,
               g.good_name,
               g.sell_price,
               g.pictureUrl
        from t_sys_good_type as t left join t_sys_goods as g
            on t.parent_code = g.level_one_code
            and t.type_code = g.level_two_code
        where parent_code = #{typeCode}
        and t.is_delete = 0
        and g.is_delete = 0
        and g.good_state = 1
        order by type_code
    </select>

<!--商品信息查询-->
    <select id="selectGood" parameterType="com.xzsd.app.customer.goodType.entity.GoodType" resultType="com.xzsd.app.customer.goodType.entity.GoodType">
        select good_code,
               good_name,
               good_introduce,
               (
                    select s.store_name
                    from t_sys_store as s left join t_sys_user as u
                        on s.invite_code = u.invite_code
                        and u.role = 4
                        and u.is_delete = 0
                    where s.is_delete = 0
                    and u.user_code = #{createUser}
                    ) storeName,
               sell_price,
               (
                    select format(sum(assess_rank)/count(assess_rank), 1)
                    from t_sys_assess
                    where good_code = #{goodCode}
                    group by good_code
                    ) goodRank,
               pictureUrl
        from t_sys_goods
        where is_delete = 0
        and good_code = #{goodCode}
        order by good_code
    </select>

<!--浏览量加一-->
    <update id="browseVolumeOnePlus" parameterType="com.xzsd.app.customer.goodType.entity.GoodType">
        update t_sys_goods
        set browse_volume = browse_volume + 1,
        update_user = #{createUser},
        update_time = now(),
        version = version + 1
        where good_code = #{goodCode}
        and is_delete = 0
    </update>

<!--商品评价分页查询-->
    <select id="listAssess" parameterType="com.xzsd.app.customer.goodType.entity.GoodType" resultType="com.xzsd.app.customer.goodType.entity.GoodType" >
        select  u.user_acct assessUser,
                a.assess_rank assessRank,
                a.assess_content assessContent,
                a.assess_time assessTime
        from t_sys_assess as a left join t_sys_user as u
            on a.assess_user = u.user_code
            and u.is_delete = 0
        where u.is_delete = 0
        and good_code = #{goodCode}
        <if test="assessRankList != null and assessRankList.size() > 0 ">
            and assess_rank in
            <foreach item="item" index="index" collection="assessRankList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

<!-- 商品评价-->
    <insert id="saveAssess" parameterType="java.util.List" >
         insert into t_sys_assess
            (assess_code,
             assess_user,
             assess_rank,
             assess_content,
             assess_time,
             good_code,
             is_delete,
             create_user,
             create_time,
             update_user,
             update_time,
             version)
             values
             <foreach collection="list" item="item" separator=",">
                (
                 #{item.assessCode},
                 #{item.createUser},
                 #{item.assessRank},
                 #{item.assessContent},
                 now(),
                 #{item.goodCode},
                 0,
                 #{item.createUser},
                 now(),
                 #{item.createUser},
                 now(),
                 0
                )
            </foreach>
    </insert>

<!--修改已评价的商品的订单状态-->
    <update id="orderSate" parameterType="com.xzsd.app.customer.goodType.entity.GoodType" >
        update t_sys_order
        set order_state = 8
        where order_code = #{orderCode}
        and is_delete = 0
    </update>

</mapper>