<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.app.store.dao.StoreDao">
<!--订单列表查询-->
    <resultMap id="listOrderMap" type="com.xzsd.app.store.entity.Store">
<!--        订单信息-->
        <id property="orderCode" column="order_code"/>
        <result property="orderState" column="order_state"/>
        <result property="buyerTel" column="buyer_tel"/>
        <result property="buyerName" column="buyer_name" />
        <result property="version" column="version" />
<!--        商品集合-->
        <collection property="goodList" ofType="com.xzsd.app.store.entity.Store">
            <id property="goodCode" column="good_code"/>
            <result property="goodName" column="good_name"/>
            <result property="sellPrice" column="sell_price"/>
            <result property="goodIntroduce" column="good_introduce"/>
            <result property="totalNumber" column="total_number"/>
            <result property="pictureUrl" column="pictureUrl"/>
        </collection>
    </resultMap>


    <select id="listOrder" resultMap="listOrderMap">
        select o.order_code,
               o.order_state,
               o.buyer_tel,
               o.buyer_name,
               o.version,
               g.good_code,
               g.good_name,
               g.sell_price,
               g.good_introduce,
               d.total_number,
               g.pictureUrl
        from t_sys_order as o left join t_sys_order_detail d
            on o.order_code = d.order_code
            left join t_sys_goods as g
            on d.good_code = g.good_code
        where o.is_delete = 0
        <if test="orderState != 0" >
            and o.order_state = #{orderState}
        </if>
        order by o.order_code
    </select>


<!--订单详情查询-->
    <resultMap id="selectOrderMap" type="com.xzsd.app.store.entity.Store">
        <!--订单信息-->
        <id property="orderCode" column="order_code"/>
        <result property="orderState" column="order_state"/>
        <result property="buyerTel" column="buyer_tel"/>
        <result property="buyerName" column="buyer_name" />
        <result property="version" column="version" />
        <result property="createTime" column="create_time"  />
        <result property="storeName" column="store_name" />
        <result property="address" column="address" />
        <!--商品集合-->
        <collection property="goodList" ofType="com.xzsd.app.store.entity.Store">
            <id property="goodCode" column="good_code"/>
            <result property="goodName" column="good_name"/>
            <result property="sellPrice" column="sell_price"/>
            <result property="goodIntroduce" column="good_introduce"/>
            <result property="totalNumber" column="total_number"/>
            <result property="pictureUrl" column="pictureUrl"/>
        </collection>
    </resultMap>
    <select id="selectOrder" resultMap="selectOrderMap" >
        select s.store_name,
               concat(s.province_name, s.downtown_name, s.area_name, s.address) address,
               o.order_code,
               o.buyer_tel,
               o.buyer_name,
               o.create_time,
               o.order_state,
               g.good_name,
               g.sell_price,
               g.good_introduce,
               d.total_number,
               g.pictureUrl,
               o.version
        from t_sys_order as o left join t_sys_store as s
            on o.store_code = s.store_code
            left join t_sys_order_detail as d
            on o.order_code = d.order_code
            left join t_sys_goods g
            on d.good_code = g.good_code
        where o.is_delete = 0
        and  o.order_code = #{orderCode}
        order by o.order_code
    </select>

    
    <update id="stateOrder" parameterType="com.xzsd.app.store.entity.Store" >
        update t_sys_order
        set order_state = #{orderState},
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where is_delete = 0
        and order_code = #{orderCode}
        and version = #{version}
    </update>
</mapper>