<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.customer.dao.CustomerDao">

    <select id="selectCustomer" parameterType="com.xzsd.pc.customer.entity.Customer" resultType="com.xzsd.pc.customer.entity.Customer" >
        select
        user_code customerCode,
        user_acct customerAcct,
        user_password customerPassword,
        user_name customerName,
        sex,
        tel,
        mail,
        idcard,
        version
        from t_sys_user
        where is_delete = 0
        and user_code = #{customerCode}
    </select>
    
    <select id="listCustomer" parameterType="com.xzsd.pc.customer.entity.Customer" resultType="com.xzsd.pc.customer.entity.Customer" >
        select
        user_code customerCode,
        user_acct customerAcct,
        user_password customerPassword,
        user_name customerName,
        sex,
        tel,
        mail,
        idcard,
        version
        from t_sys_user
        where is_delete = 0
        <if test="customerCode != null and customerCode != '' ">
            and user_code like concat('%', #{customerCode}, '%')
        </if>
        <if test="customerName != null and customerName != '' ">
            and user_name like concat('%', #{customerName}, '%')
        </if>
        order by user_code
    </select>
</mapper>