<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.goodType.dao.GoodTypeDao">

<!--分类新增-->
    <insert id="saveGoodType" parameterType="com.xzsd.pc.goodType.entity.GoodType" >
        insert into t_sys_good_type
        (type_code,
         type_name,
         remark,
         is_delete,
         create_user,
         create_time,
         version,
         parent_code)
         values
        (#{typeCode},
         #{typeName},
         #{remark},
         0,
         #{createUser},
         now(),
         0,
         #{parentCode})
    </insert>

<!--分类修改-->
    <update id="updateGoodType" parameterType="com.xzsd.pc.goodType.entity.GoodType" >
        update t_sys_good_type
        set type_name = #{typeName},
            remark = #{remark},
            version = version + 1,
            parent_code = #{parentCode},
            update_user = #{updateUser},
            update_time = now()
        where type_code = #{typeCode}
        and is_delete = 0
        and version = #{version}
    </update>

<!--分类删除-->
    <update id="deleteGoodType" parameterType="com.xzsd.pc.goodType.entity.GoodType" >
        update t_sys_good_type
        set is_delete = 1,
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where type_code = #{typeCode}
        and is_delete = 0
    </update>

<!--分类详细信息查询-->
    <select id="selecteGoodType" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="com.xzsd.pc.goodType.entity.GoodType" >
        select type_code typeCode,
               type_name typeName,
               remark,
               parent_code parentCode,
               version
        from t_sys_good_type
        where is_delete = 0
        and type_code = #{typeCode}
    </select>

<!--分类分页查询-->
    <select id="listGoodType" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="com.xzsd.pc.goodType.entity.GoodType" >
        select type_code typeCode,
               type_name typeName,
               remark,
               version
        from t_sys_good_type
        where is_delete = 0
        order by type_code
    </select>

<!--分类一二级菜单查询-->
    <resultMap id="selectLevelOneMap" type="com.xzsd.pc.goodType.entity.GoodType">
        <!--一级菜单-->
        <id property="typeCode" column="type_code" />
        <result property="typeName" column="type_name"  />
        <result property="remark" column="remark"  />
        <!--二级菜单-->
        <collection property="typeList" ofType="com.xzsd.pc.goodType.entity.GoodType" >
            <id property="typeCode" column="twoCode"  />
            <result property="typeName" column="twoName"  />
            <result property="remark" column="twoRemark"  />
        </collection>
    </resultMap>

    <select id="selectLevelOne" resultMap="selectLevelOneMap">
        select a.type_code,
               a.type_name,
               a.remark,
               b.type_code twoCode,
               b.type_name twoName,
               b.remark twoRemark
        from t_sys_good_type a left join t_sys_good_type b
            on a.type_code = b.parent_code
            and b.is_delete = 0
        where a.parent_code = 0
        and a.is_delete = 0
        order by a.type_code
    </select>

<!--商品分类选择下拉框-->
    <select id="selectLevel" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="com.xzsd.pc.goodType.entity.GoodType">
        select type_code typeCode,
               type_name typeName
        from t_sys_good_type
        where is_delete = 0
        and parent_code = #{parentCode}
        order by type_code
    </select>

<!--统计子分类数量-->
    <select id="countParentCode" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="int" >
        select count(parent_code)
        from t_sys_good_type
        where is_delete = 0
        and parent_code = #{typeCode}
    </select>

<!--统计商品的一级分类-->
    <select id="countLevelOne" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="int" >
        select count(level_one_code)
        from t_sys_goods
        where is_delete = 0
        and level_one_code = #{typeCode}
    </select>

<!--统计商品的二级分类-->
    <select id="countLevelTwo" parameterType="com.xzsd.pc.goodType.entity.GoodType" resultType="int" >
        select count(level_two_code)
        from t_sys_goods
        where is_delete = 0
        and level_two_code = #{typeCode}
    </select>

</mapper>