<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.good.dao.GoodDao">
    <!--新增商品-->
    <insert id="createGood" parameterType="com.xzsd.pc.good.entity.Good">
        INSERT INTO t_sys_goods
            (good_code,
            good_name,
            stock,
            sell_price,
            browse_volume,
            sell_volume,
            author,
            publish,
            is_delete,
            version)
            VALUES
            (#{goodCode},
            #{goodName},
            #{stock},
            #{sellPrice},
            #{browseVolume},
            #{sellVolume},
            #{author},
            #{publish},
            0,
            0)
    </insert>

<!--商品信息修改-->
    <update id="updateGood" parameterType="com.xzsd.pc.good.entity.Good">
        update t_sys_goods as t
        set t.good_name = #{goodName},
            t.book_number = #{bookNumber},
            t.level_one_name = #{levelOneName},
            t.level_two_name = #{levelTwoName},
            t.ad = #{ad},
            t.good_introduce = #{goodIntroduce},
            t.business_name = #{businessName},
            t.stock = #{stock},
            t.cost_price = #{costPrice},
            t.sell_price = #{sellPrice},
            t.pictureURL = #{pictureURL},
            t.publish = #{publish},
            t.author = #{author}
        where good_code = #{goodCode}
    </update>

<!--删除商品-->
    <update id="deleteGood" parameterType="java.lang.String" >
        update t_sys_goods
        set is_delete = 1,
            version = version + 1
        where good_code = #{goodCode};
    </update>

<!--商品状态更改-->
    <update id="stateGood" parameterType="com.xzsd.pc.good.entity.Good">
        update t_sys_goods as t
        set t.good_state = #{goodState}
        where good_code = #{goodCode}
    </update>

<!--商品详细信息查询-->
    <select id="selectGood" parameterType="java.lang.String" resultType="com.xzsd.pc.good.entity.Good">
        SELECT
            t.good_name goodName,
            t.book_number bookNumber,
            t.level_one_code levelOneCode,
            t.level_one_name levelOneName,
            t.level_two_code levelOneCode,
            t.level_two_name levelTwoName,
            t.ad ad,
            t.good_introduce goodIntroduce,
            t.business_name business_name,
            t.stock stock,
            t.cost_price costPrice,
            t.sell_price sellPrice,
            t.pictureURL pictureURL
        FROM t_sys_goods as t
        WHERE good_code = #{goodCode}
        AND is_delete = 0
    </select>

<!--商品分页查询-->
    <select id="listGood" parameterType="com.xzsd.pc.good.entity.Good" resultType="com.xzsd.pc.good.entity.Good">
        SELECT good_code goodCode,
               good_name goodName,
               cost_price costPrice,
               sell_price sellPrice,
               sell_volume sellVolume,
               level_two_name levelOneName,
               level_two_name levelTwoName,
               ad ad,
               good_introduce goodIntroduce,
               good_state goodState,
               get_good_date getGoodDate,
               browse_volume browseVolume,
               business_name businessName,
               stock stock,
               book_number bookNumber
        FROM t_sys_goods
        WHERE is_delete = 0
        ORDER BY good_code
     </select>
</mapper>