<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.good.dao.GoodDao">
    <!--新增商品-->
    <insert id="saveGood" parameterType="com.xzsd.pc.good.entity.Good">
        insert into t_sys_goods
            (good_code,
             good_name,
             isbn,
             level_one_code,
             level_one_name,
             level_two_code,
             level_two_name,
             ad,
             good_introduce,
             business_name,
             stock,
             cost_price,
             sell_price,
             pictureUrl,
             publish,
             author,
             is_delete,
             create_user,
             create_time,
             good_state,
             sell_volume,
             get_good_date,
             browse_volume,
             version)
            values
            (#{goodCode},
             #{goodName},
             #{isbn},
             #{levelOneCode},
             #{levelOneName},
             #{levelTwoCode},
             #{levelTwoName},
             #{ad},
             #{goodIntroduce},
             #{businessName},
             #{stock},
             #{costPrice},
             #{sellPrice},
             #{pictureUrl},
             #{publish},
             #{author},
             0,
             #{createUser},
             now(),
             3,
             0,
             now(),
             0,
             0)
    </insert>

<!--商品信息修改-->
    <update id="updateGood" parameterType="com.xzsd.pc.good.entity.Good">
        update t_sys_goods as t
        set t.good_name = #{goodName},
            t.isbn = #{isbn},
            t.level_one_code = #{levelOneCode},
            t.level_one_name = #{levelOneName},
            t.level_two_code = #{levelTwoCode},
            t.level_two_name = #{levelTwoName},
            t.ad = #{ad},
            t.good_introduce = #{goodIntroduce},
            t.business_name = #{businessName},
            t.stock = #{stock},
            t.cost_price = #{costPrice},
            t.sell_price = #{sellPrice},
            t.pictureUrl = #{pictureUrl},
            t.publish = #{publish},
            t.author = #{author},
            t.update_user = #{updateUser},
            t.update_time = now(),
            t.version = version + 1
        where good_code = #{goodCode}
        and version = #{version}
    </update>

<!--删除商品-->
    <update id="deleteGood" parameterType="com.xzsd.pc.good.entity.Good" >
        update t_sys_goods
        set is_delete = 1,
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where is_delete = 0
        and good_code in
        <foreach item="item" index="index" collection="goodCodeList" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </update>

<!--商品状态更改-->
    <update id="stateGood" parameterType="com.xzsd.pc.good.entity.Good">
        update t_sys_goods as t
        set t.good_state = #{goodState},
            t.update_user = #{updateUser},
            t.update_time = now(),
            t.version = version + 1
        where good_code = #{goodCode}
        and version = #{version}
    </update>

<!--商品详细信息查询-->
    <select id="selectGood" parameterType="com.xzsd.pc.good.entity.Good" resultType="com.xzsd.pc.good.entity.Good">
        select
            t.good_name goodName,
            t.isbn isbn,
            t.level_one_code levelOneCode,
            t.level_one_name levelOneName,
            t.level_two_code levelOneCode,
            t.level_two_name levelTwoName,
            t.ad ad,
            t.good_introduce goodIntroduce,
            t.business_name businessName,
            t.stock stock,
            t.cost_price costPrice,
            t.sell_price sellPrice,
            t.pictureUrl pictureUrl,
            t.version version
        from t_sys_goods as t
        where good_code = #{goodCode}
        and is_delete = 0
    </select>

<!--商品分页查询-->
    <select id="listGood" parameterType="com.xzsd.pc.good.entity.Good" resultType="com.xzsd.pc.good.entity.Good">
        select
        good_code goodCode,
        good_name goodName,
        cost_price costPrice,
        sell_price sellPrice,
        sell_volume sellVolume,
        level_one_code levelOneCode,
        level_one_name levelOneName,
        level_two_code levelOneCode,
        level_two_name levelTwoName,
        ad ad,
        good_introduce goodIntroduce,
        good_state goodState,
        get_good_date getGoodDate,
        browse_volume browseVolume,
        business_name businessName,
        stock stock,
        isbn isbn,
        sell_volume sellVolume,
        get_good_date getGoodDate,
        browse_volume browseVolume,
        version version
        from t_sys_goods
        where is_delete = 0
        <if test="goodState != 0">
            and good_state = #{goodState}
        </if>
        <if test="goodName != null and goodName != ''">
            and good_name like concat('%', #{goodName}, '%')
        </if>
        <if test="ad != null and ad != ''">
            and ad like CONCAT('%', #{ad}, '%')
        </if>
        <if test="publish != null and publish != ''">
            and publish like CONCAT('%', #{publish}, '%')
        </if>
        <if test="author != null and author != ''">
            and author like CONCAT('%', #{author}, '%')
        </if>
        ORDER BY good_code
     </select>

<!--统计商品名称数量-->
    <select id="countGoodName" parameterType="com.xzsd.pc.good.entity.Good" resultType="int">
        select COUNT(good_name)
        from t_sys_goods as t
        where is_delete = 0
        and good_name = #{goodName}
    </select>

<!--获取商品版本号-->
    <select id="goodVersion" parameterType="java.lang.String" resultType="int">
        select version
        from t_sys_goods
        where good_code = #{goodCode}
    </select>

<!--商品选择-->
    <select id="listGoodOfSlideshow" parameterType="com.xzsd.pc.good.entity.Good" resultType="com.xzsd.pc.good.entity.Good" >
        select
            good_code goodCode,
            good_name goodName,
            level_one_code levelOneCode,
            level_one_name levelOneName,
            level_two_code levelOneCode,
            level_two_name levelTwoName,
            good_state goodState,
            version version
        from t_sys_goods
        where is_delete = 0
        <if test="goodName != null and goodName != '' ">
            and good_name like concat('%', #{goodName}, '%')
        </if>
        <if test="goodCode != null and goodCode != '' ">
            and good_code like concat('%', #{goodCode}, '%')
        </if>
        order by good_code
    </select>


</mapper>