<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.hotGood.dao.HotGoodDao">

<!--热门商品新增-->
    <insert id="saveHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        insert into t_sys_hot_good
        (hot_good_code,
         good_code,
         good_name,
         hot_sort,
         is_delete,
         create_user,
         create_time,
         version)
         values
        (
         #{hotGoodCode},
         #{goodCode},
         #{goodName},
         #{hotSort},
         0,
         #{createUser},
         now(),
         0)
    </insert>

<!--热门商品修改-->
    <update id="updateHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        update t_sys_hot_good
        set good_name = #{goodName},
            hot_sort = #{hotSort},
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where is_delete = 0
        and version = #{version}
        and hot_good_code = #{hotGoodCode}
    </update>

<!--热门商品删除-->
    <update id="deleteHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        update t_sys_hot_good
        set is_delete = 1,
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where is_delete = 0
        and hot_good_code = #{hotGoodCode}
    </update>

<!--热门商品详细信息查询-->
    <select id="selectHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" resultType="com.xzsd.pc.hotGood.entity.HotGood" >
        select *
        from t_sys_hot_good
        where is_delete = 0
        and hot_good_code = #{hotGoodCode}
    </select>

<!--热门商品分页查询-->
    <select id="listHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" resultType="com.xzsd.pc.hotGood.entity.HotGood" >
        select *
        from t_sys_hot_good
        where is_delete = 0
        <if test="goodCode != null and  goodCode !='' " >
            and good_code like concat('%', #{goodCode}, '%')
        </if>
        <if test="goodName != null and  goodName !='' " >
            and good_name like concat('%', #{goodName}, '%')
        </if>
        order by hot_good_code
    </select>

</mapper>