<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.hotGood.dao.HotGoodDao">

<!--热门商品新增-->
    <insert id="saveHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        insert into t_sys_hot_good
        (hot_good_code,
         good_code,
         hot_sort,
         is_delete,
         create_user,
         create_time,
         version)
         values
        (
         #{hotGoodCode},
         #{goodCode},
         #{hotSort},
         0,
         #{createUser},
         now(),
         0)
    </insert>

<!--热门商品修改-->
    <update id="updateHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        update t_sys_hot_good
        set good_code = #{goodCode},
            hot_sort = #{hotSort},
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where is_delete = 0
        and version = #{version}
        and hot_good_code = #{hotGoodCode}
    </update>

<!--热门商品删除-->
    <update id="deleteHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        update t_sys_hot_good
        set is_delete = 1,
            update_user = #{updateUser},
            update_time = now(),
            version = version + 1
        where is_delete = 0
        and hot_good_code in
        <foreach item="item" index="index" collection="hotGoodCodeList"  open="(" separator="," close=")" >
            #{item}
        </foreach>
    </update>

<!--热门商品详细信息查询-->
    <select id="selectHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" resultType="com.xzsd.pc.hotGood.entity.HotGood" >
        select hot_sort hotSort,
               good_code goodCode
        from t_sys_hot_good
        where is_delete = 0
        and hot_good_code = #{hotGoodCode}
    </select>

<!--热门商品分页查询-->
    <select id="listHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" resultType="com.xzsd.pc.hotGood.entity.HotGood" >
        select  h.hot_sort,
                h.hot_good_code,
                h.good_code,
                g.good_name,
                g.sell_price,
                g.good_introduce,
                h.version
        from t_sys_hot_good as h  left join t_sys_goods as g
        on g.good_code = h.good_code
        where h.is_delete = 0
        and g.is_delete = 0
        <if test="goodCode != null and goodCode != '' " >
            and g.good_code like concat('%', #{goodCode}, '%')
        </if>
        <if test="goodName != null and goodName != '' ">
            and g.good_name like concat('%', #{goodName}, '%')
        </if>
        order by hot_sort
    </select>

<!--热门商品展示数量查询-->
    <select id="getHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" resultType="com.xzsd.pc.hotGood.entity.HotGood">
        select dict_value showNumber,
               version
        from t_dictionary
        where dict_code = 'showNumber'
    </select>

<!--热门商品展示数量设置-->
    <update id="setHotGood" parameterType="com.xzsd.pc.hotGood.entity.HotGood" >
        update t_dictionary
        set dict_value = #{showNumber},
            version = version + 1
        where is_delete = 0
        and dict_code = 'showNumber'
        and version = #{version}
    </update>

</mapper>