<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzsd.pc.order.dao.OrderDao">

<!--订单分页查询-->
    <select id="listOrder" parameterType="com.xzsd.pc.order.entity.Order" resultType="com.xzsd.pc.order.entity.Order" >
         select order_code,
                order_state,
                is_pay,
                pay_time,
                store_code,
                version,
                buyer_name,
                buyer_tel,
                all_price
        from t_sys_order
        where is_delete = 0
        <if test="role == 2 " >
            and store_code in (
                    select store_code
                    from t_sys_store
                    where is_delete = 0
                    and shopkeeper_code = #{updateUser}
            )
        </if>
        <if test="buyerName != null and buyerName != '' " >
            and buyer_name like concat('%', #{buyerName}, '%')
        </if>
        <if test="buyerTel != null and buyerTel != '' " >
            and buyer_tel like concat('%', #{buyerTel}, '%')
        </if>
        <if test="orderCode != null and orderCode != '' " >
            and order_code like  concat('%', #{orderCode}, '%')
        </if>
        <if test="orderState != 0 " >
            and order_state = #{orderState}
        </if>
        <if test="payStart != null and payStart != '' " >
            and str_to_date(pay_time,'%Y-%m-%d') >= #{payStart}
        </if>
        <if test="payStop != null and payStop != '' " >
            and #{payStop} >= str_to_date(pay_time,'%Y-%m-%d')
        </if>
        order by order_code
    </select>

<!--订单详细信息查询-->
    <select id="selectOrder" parameterType="com.xzsd.pc.order.entity.Order" resultType="com.xzsd.pc.order.entity.Order" >
        select d.order_detail_code,
               d.create_user userCode,
               d.order_code,
               d.good_code,
               g.good_name,
               d.total_number,
               concat(cast(d.sell_price as decimal(9, 2) ) * d.total_number) totalPrice,
               d.sell_price,
               d.version
        from t_sys_order_detail d left join t_sys_goods g
            on d.good_code = g.good_code
        where d.is_delete = 0
        and d.order_code = #{orderCode}
        order by d.order_detail_code
    </select>

<!--订单物流状态修改-->
    <update id="stateOrder" parameterType="com.xzsd.pc.order.entity.Order" >
        update t_sys_order
        set order_state = #{orderState},
            version = version + 1,
            update_user = #{updateUser},
            update_time = now()
        where is_delete = 0
        and order_code in
        <foreach index="index" item="item" collection="orderCodeList"  open="(" separator="," close=")" >
            #{item}
        </foreach>
        and version in
        <foreach index="indexVer" item="itemVer" collection="versionList"  open="(" separator="," close=")" >
            #{itemVer}
        </foreach>
    </update>


    <!--获取当前登录人的角色编号-->
    <select id="getUserRole" parameterType="java.lang.String" resultType="int">
        select role
        from t_sys_user
        where is_delete = 0
        and user_code = #{updateUser}
    </select>
</mapper>