<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.slideshow.dao.SlideshowDao">

<!--轮播图新增-->
    <insert id="saveSlideshow" parameterType="com.xzsd.pc.slideshow.entity.Slideshow">
        insert into t_sys_slideshow(
                                    slideshow_code,
                                    slideshow_route,
                                    slideshow_sort,
                                    slideshow_state,
                                    date_start,
                                    date_stop,
                                    slideshow_good_code,
                                    is_delete,
                                    version,
                                    create_user,
                                    create_time
                                    )
                                    values (
                                           #{slideshowCode},
                                           #{slideshowRoute},
                                           #{slideshowSort},
                                           1,
                                           #{dateStart},
                                           #{dateStop},
                                           #{slideshowGoodCode},
                                           0,
                                           0,
                                           #{createUser},
                                           now()
                                          )
    </insert>
    
<!--轮播图删除-->
    <update id="deleteSlideshow" parameterType="com.xzsd.pc.slideshow.entity.Slideshow">
        update t_sys_slideshow
        set is_delete = 1,
            version = version + 1,
            update_time = now(),
            update_user = #{updateUser}
        where slideshow_code = #{slideshowCode}
        and is_delete = 0
    </update>
    
<!--轮播图启用/禁用 -->
    <update id="stateSlideshow" parameterType="com.xzsd.pc.slideshow.entity.Slideshow">
        update t_sys_slideshow
        set slideshow_state = #{slideshowState},
            version = version + 1,
            update_time = now(),
            update_user = #{updateUser}
        where slideshow_code = #{slideshowCode}
        and version = #{version}
        and is_delete = 0
    </update>

<!--轮播图详细信息查询-->
    <select id="selectSlideshow" parameterType="com.xzsd.pc.slideshow.entity.Slideshow" resultType="com.xzsd.pc.slideshow.entity.Slideshow">
        select *
        from t_sys_slideshow
        where is_delete = 0
        and slideshow_code = #{slideshowCode}
    </select>

<!--轮播图分页查询-->
    <select id="listSlideshow" parameterType="com.xzsd.pc.slideshow.entity.Slideshow" resultType="com.xzsd.pc.slideshow.entity.Slideshow">
        select *
        from t_sys_slideshow
        where is_delete = 0
        <if test="slideshowState != 0">
            and slideshow_state = 1
        </if>
        order by slideshow_sort
    </select>

<!--统计特定排序编号-->
    <select id="countSlideshowSort" parameterType="com.xzsd.pc.slideshow.entity.Slideshow" resultType="int">
        select count(slideshow_sort)
        from t_sys_slideshow
        where is_delete = 0
        and slideshow_sort = #{slideshowSort}
    </select>

<!--统计特定商品编号-->
    <select id="countSlideshowGoodCode" parameterType="com.xzsd.pc.slideshow.entity.Slideshow" resultType="int">
        select count(slideshow_code)
        from t_sys_slideshow
        where is_delete = 0
        and slideshow_code = #{slideshowCode}
    </select>


    
</mapper>